header {
    background-color: #1f2937;
}

.site-header {
    width: 1075px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.menu-links {}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

a.menu {
    color: #e5e7eb;
    font-size: 18px;

}

body {
    margin: 0;
    font-family: roboto;
}

/* hero section */
.hero {
    height: 50vh;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-wrapper {
    width: 1075px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-wrapper>* {
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.placeholder {
    background-color: grey;
    height: 250px;
    margin: 5px;
    width: 260px;
    flex: 50%;
}

.hero-img {
    position: relative;
    text-align: center;
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 75%;
}

.header {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.caption {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    box-shadow: none;
    margin-top: 10px;
}

/*info section*/
.info {
    margin: 0;
    height: 65vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-container {
    width: 1075px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.info-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

figure {
    margin: 50px 0;
}

figcaption {
    width: 150px;
    height: auto;
    color: #e5e7eb;
    text-align: center;
}

/*quote section*/
.quote-wrapper {
    height: 50vh;
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: 800px;
}

.credit {
    font-size: 24px;
    font-weight: 700;
    width: 800px;
    text-align: right;
    margin-right: 25px;
}

/*Call to action*/
.cta-wrapper {
    margin: 0;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    background-color: #3882f6;
    width: 800px;
    padding: 40px 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-header {
    font-size: 20px;
    font-weight: 700;
}

.cta-text {
    color: #e5e7eb;
}

.cta-button {
    border: 2px solid white;
    padding: 5px 40px;
    border-radius: 5px;
}

/*footer section*/
footer {
    height: 100px;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}